img {
  margin-top: 150px;
  margin-left: 390px;
  height: 127px;
  width: 359px;
}
form {
  margin-left: 390px;
}
span {
  margin-left: 50px;
}
input {
  border: 1px outset black;
  background-color: white;
}
.header{
  float:right;
}
.footerleft{
  float:left;
  margin-top: 250px
}
.footerright{
  float:right;
  margin-top: 250px
}
.footer {
  background-color: light grey;
  width:100%;
  height: 50px;
  clear:both;
  bottom:0;
}